:root {
    /* primary colors */
    --color-primary: #5d5bed;
    --color-primary-rgb: 93, 93, 237;
    --color-primary-dark: #181818;

    /* secondary colors */
    --color-accent-1: #d7ea57;
    --color-accent-2: #f1fee0;
    --color-gray-100: #f8f8f8;
    --color-error: #eb4545;
    --color-white: #FFFFFF;

    /* other */
    --color-background-secondary: rgb(143, 143, 143);
    --color-background-secondary-rgb: 143, 143, 143; /* Keep this for opacity use cases */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    flex: 0 0 auto;
}

.chart-container {
    flex: 1;
    width: 100%;
    min-height: 0;
    border: 1px solid #ccc;
}

candlestick-chart {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    display: block;
} 